body {
  background-color: #0a8791;
}

.menu{
  width: 100%;
  padding: 40px;

	.wrapper {
		width: 75%;
		background-color: white;
	}

  .item{
    width: 60%;

    img{
      width: 100px;
      height: 100px;
    }
    .description{
      padding-left: 20px;
			p {
				color: #c2c2cb;
			}
    }
  }

	.itemPrice {
		color: #fba83c;
	}
}
