.navbar{
  width: 100%;

.wrapper{
    width: 75%;
    height: 60px;
    background-color: white;
    border-radius: 5px;

.links{
    text-decoration: none;
    color: #0a8791;
    font-size: 20px;
    font-weight: bold; 
}
.back{
    font-size: 50px;
}
}
}