.navb {
  width: 100%;
	.nav-wrap{
		width: 75%;
		height: 60px;
		background-color: #0a8791;
		border-radius: 5px;

		.links{
			text-decoration: none;
			color: white;
			font-size: 20px;
			font-weight: bold; 
		}
		.back{
			font-size: 50px;
		}
	}
}