html,
body {
  height: 100%;
  margin: 0;

  .login {
    height: 100vh;

    .form {
      width: 25%;
      height: 80%;
      background-color: #d3d3d3;
      box-shadow: 0 0 6px 4px gray;

      .logindetails {
        width: 100%;
        margin-top: 20px;

        .inputs {
          width: 50%;
          height: 40px;
        }

        .button {
          width: 30%;
          height: 40px;
          background-color: #0a8791;
          color: white;
        }
      }
    }
  }
}
