.foodDetail{
		flex-direction: column;
		width: 100%;
		height: 100%;

	.imgWrapper{
		width: 100vw;
		height: 50vh;
		overflow: hidden;
		position: relative;

		img{
			position: absolute;
			top: -50vh;
			width: 100vw;  
		}
	}

	.description {
		.title {
			h2 {
				font-size: 3rem;
			}

			h2:last-child {
				color: #fba836;
			}
		}
	}

	.add-btn {
		bottom: 20px;
		button {
			background-color: #0a8791;
			transition: 0.15s;
			&:hover {
				background-color: #10b4c0;
			}
		}
	}
}